<h1>Bienvenido a tu carrito</h1>
{{#if productsInCart}}
<div id="productsAdded">
    
</div>
<button id="btn_buy" class="btn btn-primary">Terminar compra</button>
{{else}}
<div class="card">
    <div class="card-body">
        <p class="card-title">No hay productos en el carrito</p>
    </div>
</div>
{{/if}}
<script src="/static/js/cart.client.js"></script>
   