<h1>ADMIN PANEL</h1>
<h2>USERS:</h2>
<div class="users">

</div>
<div class="btn__deleteInactive">
<button id="btn__delte_inactive" class="btn btn-danger">Delete inactive users</button>
</div>
<script src="../static/js/dashboard.admin.js"></script>