<h1>aqui se reestablece la contraseña</h1>
<p>{{email}} escribe tu nueva password</p>
<form >
<div >
    <label for="thumbnail" class="form_label">nueva contraseña</label>
    <input type="text" class="form_input" id="thumbnail">
  </div>
  <button type="submit">enviar</button>
</form>